<!DOCTYPE html>
<html>

<head>

    <title>BMI History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>BMI History</h1>

    <table>

        <tr>

            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
            <th>BMI</th>
            <th>Category</th>
            <th>Date</th>

        </tr>


        {% for record in records %}

        <tr>

            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/">

        <button>
            Back
        </button>

    </a>

</div>

</body>

</html>